<div class="container d-flex flex-column mt-5">
  <%= link_to articles_path, class: "text-decoration-none h5 btn btn-dark align-self-end" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <h1>Add an Article</h1>
  <%= render 'articles/form' %>
</div>
